/* reset default CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
/* ---------------------------------------------------------------------- */

:root {
  --main-light-color: #d4d4d4;
  --main-dark-color: #171717;
  --button-hover: #27272a;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

.App {
  min-height: 100dvh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.header-nav {
  background-color: var(--main-dark-color);
  box-shadow: rgb(0 0 0 / 20%) 0 2px 10px;
  padding: 1.4rem;
  text-align: center;
  margin-bottom: 1.4rem;
}
.header-nav h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--main-light-color);
}

main {
  /* border: 1px solid red; */
  max-width: 768px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

main .top-text {
  margin: 1rem 0;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

main .bottom-text {
  margin: 2rem 0;
  font-size: 0.95rem;
  text-align: justify;
}

main .displayPassword {
  background-color: var(--main-light-color);
  box-shadow: rgb(0 0 0 / 20%) 0 2px 5px;
  height: 5rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  font-size: 1.1rem;
  line-height: normal;
  letter-spacing: 0.2rem;
}

main .displayPassword p {
  opacity: 0.2;
  letter-spacing: 0;
}

main .userInput {
  margin-bottom: 2rem;
  height: 10rem;
}

main .custom-select {
  padding: 1rem 0;
  min-width: 350px;
  position: relative;
}

select {
  width: 4rem;
  height: 1.6rem;
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  border-radius: 0.5rem;
  text-align: center;
}

main .userSubmit {
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;

  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  box-shadow: rgb(0 0 0 / 20%) 0 -2px 10px;
  text-align: center;
}

/* ---------------------------------------------------------------------- */

@media (min-width: 768px) {
  .header-nav {
    padding: 1.4rem;
  }

  .header-nav h1 {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
  }

  main .displayPassword {
    font-size: 1.7rem;
    line-height: normal;
    letter-spacing: 0.4rem;
  }

  main .bottom-text {
    text-align: left;
  }

  main .userSubmit:hover {
    background-color: var(--button-hover);
    cursor: pointer;
  }
}
